footer {
    width: 100%;
    background-color: #053464;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 90px;
    align-items: centertes;
}

a {
    color: #fff;
}

.left {
    display: flex;
    gap: 50px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section .title {
    font-size: 23px;
    font-weight: 700;
    color: gray;
}

.section .fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newsletter .subtitle {
    color: gray;
}

.newsletter .mail {
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid white;
    width: 100%;
}

.newsletter .mail input {
    padding: 10px;
    border: none;
    font-size: 20px;
    background: #053464;
    outline: none;
    margin-right: 10px;
    color: #fff;
    width: 100%;
}

.newsletter .mail button {
    background: #053464;
    border: none;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.newsletter .contact .icons {
    display: flex;
    gap: 10px;
    padding-top: 30px;
}

@media (max-width:1160px) {
    footer {
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        padding: 40px;
    }

    .right {
        width: 100%;
        padding: 20px;
    }
}

@media (max-width:562px) {
    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 23px;
    }

    .right {
        width: 100%;
        padding: 20px;
    }

}