.search-body {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 50px;
    flex-direction: column;
    gap: 30px;
}

.search-form {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-form img {
    width: 260px;
    height: 70px;
    margin-bottom: 20px;
}

.search-form p {
    color: #EEE1D1;
    font-weight: 500;
    font-size: 15px;
}

.search-form input {
    padding: 15px;
    border-radius: 20px;
    background-color: #EEE1D1;
    margin: 15px 0;
}

.search-form input::file-selector-button {
    padding: 10px;
    font-size: 17px;
    color: #FD6625;
    border-radius: 10px;
    border: 1px solid #FD6625;
    background-color: transparent;
    margin-right: 20px;

}

.search-form button {
    width: 336px;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 10px 0;
    color: #fff;
    margin-top: 30px;
    background-color: #FD6625;
}

.result {
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #EEE1D1;
}

.hidden {
    display: none;
}

.result img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.result .name {
    color: #EEE1D1;
    font-size: 22px;
}

.recipe {
    margin-top: 20px;
    color: #fff;
}

.recipe .links {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width:650px) {
    .search-body {
        width: 100%;
    }

    .search-form {
        width: 100%;
    }

    .result {
        width: 100%;
    }

    .recipe {
        width: 100%;
    }

    .recipe .links {
        display: inline-flex;
        font-size: 14px;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #383636;
    /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}